ASTRA_DB_APPLICATION_TOKEN="AstraCS:..."
ASTRA_DB_ID="..."
GROQ_API_KEY="..."

# Optional: LangSmith Tracing
LANGCHAIN_TRACING_V2=true
LANGCHAIN_ENDPOINT="https://api.smith.langchain.com"
LANGCHAIN_API_KEY="..."
LANGCHAIN_PROJECT="GenAI_Agent"
